@function rem($flexible) {
    @if $flexible !=0 {
        $flexible: $flexible/750*10+rem;
    }
    @return $flexible;
}

.wrap{
    background-color: #f2f2f2;    
}

.part2{
    text-align: center;
    font-size: rem(36);
    padding: rem(40) 0 rem(70);
    font-weight: bold;
    color: #2561bb;
}

.part3{
    background-color: #fff;
}
.p3_box{
    list-style: none;
}
.p3_item{
    padding: rem(20);
    border-bottom: rem(2) solid #EEEEEE;
}
.p3_item_a{
    display: flex;
    justify-content: space-between;
}
.p3_item_b{
    color: #ff0000;
    margin-left: rem(10);
}
.p3_item_c{
    color: #999999;
}
.p3_item > div{
    margin-bottom: rem(8);
}
.bold{
    font-weight: bold;
}
