@function rem($flexible) {
    @if $flexible !=0 {
        $flexible: $flexible/750*10+rem;
    }
    @return $flexible;
}

.wrap{
    background-color: #f2f2f2;    
}

.part2{
    text-align: center;
    font-size: rem(36);
    padding: rem(40) 0 rem(70);
    font-weight: bold;
    color: #2561bb;
}
.p3_box{
    border-top: rem(2) solid #EEEEEE;
    background-color: #fff;
}
.p3_box li{
    line-height: rem(80);
    border-bottom: rem(2) solid #EEEEEE;
    padding: 0 rem(30);
}
.p3_delete{
    float: right;
    background-color: #ff0000;
    line-height: rem(60);
    margin-top: rem(10);
    padding: 0 rem(20);
    color: #fff;
    border-radius: rem(10);
}
.p3_title{
    font-size: rem(32);
    margin-right: rem(10);
}
.p3_num{
    font-size: rem(26);
}
