.wrap {
  background-color: #f2f2f2; }

.wrap > div {
  background-color: #fff;
  margin-bottom: 0.26667rem; }

.p1_personalInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.2rem;
  color: #10AEFF;
  padding: 0 0.26667rem; }

.p1_a {
  display: flex;
  align-items: center; }

.p1_a img {
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 50%;
  margin-right: 0.13333rem; }

.p1_personalInfo > a {
  text-decoration: none;
  color: #10AEFF; }

.wrap .part2 {
  padding: 0.26667rem 0.13333rem; }

.p2_box {
  overflow: hidden;
  margin-bottom: 0.13333rem; }

.p2_box_a {
  padding: 0.13333rem 0.13333rem 0.13333rem 0.26667rem; }

.p2_box > div {
  float: left; }

.p2_box_b {
  width: 8rem; }

.p2_box_b > div {
  float: left;
  padding: 0.13333rem;
  background-color: transparent;
  border-radius: 0.13333rem;
  margin-right: 0.13333rem; }

.p2_box_b .active {
  background-color: #10AEFF;
  color: #fff; }

.wrap .part3 {
  padding: 0.4rem 0.13333rem; }

.p3_item {
  overflow: hidden;
  padding-bottom: 0.26667rem;
  border-bottom: 0.02667rem solid #EEEEEE;
  margin-bottom: 0.21333rem;
  list-style: none; }

.p3_item > div {
  float: left; }

.p3_item_a {
  width: 2.66667rem;
  min-height: 3.46667rem;
  margin-right: 0.26667rem; }

.p3_item_a > img {
  width: 100%; }

.p3_item_b {
  width: 6.66667rem; }

.p3_item_c {
  font-size: 0.45333rem;
  margin-bottom: 0.26667rem; }

.p3_item_d {
  line-height: 1.6; }

.noData {
  display: none; }
