@function rem($flexible) {
  @if $flexible !=0 {
    $flexible: $flexible/750*10+rem;
  }
  @return $flexible;
}

.wrap {
  padding-bottom: rem(30);
  background-color: #f3f3f3;
  padding-top: rem(88);
}

.bar {
  margin-bottom: rem(20);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  height: rem(88);
  padding-right: rem(20);
  padding-left: rem(20);
  background-color: #fff;
  // border-bottom: 1px solid #e7e7e7;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-api div{
  float: left;
}

.m-api_cell1 {
  width: 41.33%;
  img{
    width: 100%;
  }
}

.m-api_cell2 {
  width: 58.67%;
}

.m-api_cell3, .m-api_cell4 {
  width: 29.335%;
}