.p1_box {
  text-align: center;
  margin: 1.06667rem 0 0.8rem; }

.p1_box_a {
  width: 2.13333rem;
  height: 2.13333rem;
  border-radius: 50%; }

.p1_box_b, .p1_box_c {
  margin-top: 0.13333rem;
  color: #999999; }

.part2 {
  border-top: 0.02667rem solid #EEEEEE;
  border-bottom: 0.02667rem solid #EEEEEE; }

.p2_item {
  display: flex;
  height: 2.4rem;
  border-bottom: 0.02667rem solid #EEEEEE; }

.p2_item > div {
  flex: 1;
  border-right: 0.02667rem solid #EEEEEE;
  height: 100%;
  text-align: center;
  position: relative; }

.p2_item_a {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%); }

.part2 .noBorder {
  border: none; }

.expDate {
  color: #000; }

.p2_item_a > img {
  width: 0.53333rem; }
