html, body {
  min-height: 100%;
  background-color: #f2f2f2; }

.wrap {
  background-color: #f2f2f2;
  min-height: 100%; }

.wrap > div {
  background-color: #fff;
  margin-bottom: 0.26667rem; }

.p1_personalInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.2rem;
  color: #10AEFF;
  padding: 0 0.26667rem; }

.p1_a {
  display: flex;
  align-items: center; }

.p1_a img {
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 50%;
  margin-right: 0.13333rem; }

.p1_personalInfo > a {
  text-decoration: none;
  color: #10AEFF; }

.wrap .part2 {
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  border-top: 0.02667rem solid #eeeeee;
  border-bottom: 0.02667rem solid #eeeeee;
  padding: 0.26667rem 0;
  margin-bottom: 0; }

.p2_box {
  flex: 1;
  position: relative;
  padding: 0.13333rem;
  background-color: #fff;
  margin-left: 0.26667rem;
  border-radius: 0.13333rem; }

.p2_box_icon {
  position: absolute;
  left: 0.16rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4rem; }

.p2_box > input {
  padding-left: 0.66667rem;
  padding-right: 0.53333rem;
  width: 6.13333rem;
  border: none;
  outline: none; }

.p2_btn {
  width: 1.6rem;
  text-align: center;
  color: #4ad14c; }

.p2_cancel {
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0.26667rem;
  line-height: 0.4rem;
  text-align: center;
  color: #fff;
  background-color: #666666;
  border-radius: 50%;
  position: absolute;
  right: 0.26667rem;
  top: 50%;
  transform: translateY(-50%);
  display: none; }

.part2_1_title {
  line-height: 1.06667rem;
  border-bottom: 0.02667rem solid #EEEEEE;
  padding-left: 0.26667rem;
  background-color: #fbf9fe; }

.part2_1_box {
  overflow: hidden;
  padding: 0.26667rem;
  padding-bottom: 0;
  border-bottom: 0.02667rem solid #EEEEEE;
  list-style: none; }

.part2_1_box > li {
  font-size: 0.37333rem;
  float: left;
  padding: 0.13333rem 0.26667rem;
  border: 0.02667rem solid #c34b50;
  border-radius: 0.13333rem;
  margin: 0 0.26667rem 0.26667rem 0;
  color: #c34b50; }

.p3_title {
  line-height: 1.06667rem;
  color: #ff9f2b;
  font-size: 0.48rem;
  padding-left: 0.26667rem;
  border-top: 0.02667rem solid #eeeeee;
  border-bottom: 0.02667rem solid #eeeeee;
  margin-bottom: 0.13333rem; }

.p3_item {
  overflow: hidden;
  padding: 0.13333rem 0 0.26667rem 0.13333rem;
  border-bottom: 0.02667rem solid #EEEEEE;
  margin-bottom: 0.21333rem;
  list-style: none; }

.p3_item > div {
  float: left; }

.p3_item_a {
  width: 2.66667rem;
  min-height: 3.46667rem;
  margin-right: 0.26667rem; }

.p3_item_a > img {
  width: 100%; }

.p3_item_b {
  width: 6.66667rem; }

.p3_item_c {
  font-size: 0.45333rem;
  margin-bottom: 0.26667rem; }

.p3_item_d {
  line-height: 1.6; }

.part4 {
  display: none; }
