@function rem($flexible) {
    @if $flexible !=0 {
        $flexible: $flexible/750*10+rem;
    }
    @return $flexible;
}

html,body{
    min-height: 100%;
    background-color: #f2f2f2;
}
.wrap{
    background-color: #f2f2f2;
    min-height: 100%;
}
.wrap > div{
    background-color: #fff;
    margin-bottom: rem(20);
}

.p1_personalInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(90);
    color: #10AEFF;
    padding: 0 rem(20);
}
.p1_a{
    display: flex;
    align-items: center;
}
.p1_a img{
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    margin-right: rem(10);
}
.p1_personalInfo > a{
    text-decoration: none;
    color: #10AEFF;
}

.wrap .part2{
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    border-top: rem(2) solid #eeeeee;
    border-bottom: rem(2) solid #eeeeee;
    padding: rem(20) 0;
    margin-bottom: 0;
}
.p2_box{
    flex: 1;
    position: relative;
    padding: rem(10);
    background-color: #fff;
    margin-left: rem(20);
    border-radius: rem(10);
}
.p2_box_icon{
    position: absolute;
    left: rem(12);
    top: 50%;
    transform: translateY(-50%);
    width: rem(30);
}
.p2_box > input{
    padding-left: rem(50);
    padding-right: rem(40);
    width: rem(460);
    border: none;
    outline: none;
}
.p2_btn{
    width: rem(120);
    text-align: center;
    color: #4ad14c;
}
.p2_cancel{
    width: rem(30);
    height: rem(30);
    font-size: rem(20);
    line-height: rem(30);
    text-align: center;
    color: #fff;
    background-color: #666666;
    border-radius: 50%;
    position: absolute;
    right: rem(20);
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.part2_1_title{
    line-height: rem(80);
    border-bottom: rem(2) solid #EEEEEE;
    padding-left: rem(20);
    background-color: #fbf9fe;
}
.part2_1_box{
    overflow: hidden;
    padding: rem(20);
    padding-bottom: 0;
    border-bottom: rem(2) solid #EEEEEE;
    list-style: none;
}
.part2_1_box > li{
    font-size: rem(28);
    float: left;
    padding: rem(10) rem(20);
    border: rem(2) solid #c34b50;
    border-radius: rem(10);
    margin:0 rem(20) rem(20) 0;
    color: #c34b50;
}

.p3_title{
    line-height: rem(80);
    color: #ff9f2b;
    font-size: rem(36);
    padding-left: rem(20);
    border-top: rem(2) solid #eeeeee;
    border-bottom: rem(2) solid #eeeeee;
    margin-bottom: rem(10);
}
.p3_item{
    overflow: hidden;
    padding: rem(10) 0 rem(20) rem(10);
    border-bottom: rem(2) solid #EEEEEE;
    margin-bottom: rem(16);
    list-style: none;
}
.p3_item > div{
    float: left;
}
.p3_item_a{
   width: rem(200);
   min-height: rem(260);
   margin-right: rem(20);
}
.p3_item_a > img{
    width: 100%;
}
.p3_item_b{
    width: rem(500);
}
.p3_item_c{
    font-size: rem(34);
    margin-bottom: rem(20);
}
.p3_item_d{
    line-height: 1.6;
}

.part4{
    display: none;
}
