.part2 {
  margin-top: 0.26667rem; }

.p3_item {
  overflow: hidden;
  padding: 0.13333rem 0 0.26667rem 0.13333rem;
  border-bottom: 0.02667rem solid #EEEEEE;
  margin-bottom: 0.21333rem;
  list-style: none;
  display: none; }

.p3_item > div {
  float: left; }

.p3_item_a {
  width: 2.66667rem;
  min-height: 3.46667rem;
  margin-right: 0.26667rem;
  position: relative; }

.p3_fm {
  width: 100%; }

.p3_item_b {
  width: 6.66667rem; }

.p3_item_c {
  font-size: 0.45333rem;
  margin-bottom: 0.13333rem; }

.p3_item_d {
  margin-top: 0.21333rem;
  line-height: 1.6; }

.p3_item_e {
  display: flex;
  align-items: center;
  font-size: 0.4rem;
  color: #fe981b; }

.p3_item_e > span {
  font-size: 0.37333rem; }

.p3_item_e > img {
  width: 0.4rem;
  margin-right: 0.13333rem; }

.icon_free {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.93333rem;
  color: #ff4848; }

.noData {
  display: none; }
