@function rem($flexible) {
  @if $flexible !=0 {
    $flexible: $flexible/750*10+rem;
  }
  @return $flexible;
}

* {
  margin: 0;
  padding: 0;
  font-size: rem(30);
}

html,
body {
  color: #333;
  font-weight: normal;
  font-family: "微软雅黑";
  font-size: rem(24);
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.clearfix {
  // display: block;
  // content: "";
  // clear: both;
  overflow: hidden;
}

ul,
li,
ol {
  list-style: none;
}

//iconfont

@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_985807_6kpb12zpv07.eot?t=1545966130959'); /* IE9*/
  src: url('//at.alicdn.com/t/font_985807_6kpb12zpv07.eot?t=1545966130959#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAYIAAsAAAAACiAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8iEplY21hcAAAAYAAAACAAAAB3jhJbGNnbHlmAAACAAAAAc8AAANYvI7Np2hlYWQAAAPQAAAALwAAADYVx6pfaGhlYQAABAAAAAAeAAAAJAnvBt9obXR4AAAEIAAAABMAAAAcH1cAAGxvY2EAAAQ0AAAAEAAAABADOgPIbWF4cAAABEQAAAAfAAAAIAEZAIxuYW1lAAAEZAAAAUUAAAJtPlT+fXBvc3QAAAWsAAAAWQAAAHd6dkC7eJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkqWKcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeCT3/ydzwv4EhhrmBoQEozAiSAwAYyw1peJztkUEKg0AMRV/qOIiULsSFe7euPUkXPY6rHjVzBlc2mRQqPYN/eAP5kATygRZojMVIIG8E12auVL+hr37iafWDjhtZBx110rmsZT8O+K9PEuv5Pd+WbEJL9vmSuXSv/+tbZb9m4MnoGHg6OgV2P3QOPMGyBt5b9gD5ADkmIz94nKVSwW7UMBCdsWliozbB2SSOWNhlk01CVbqou9ksgqUsx55QJdQLanvkBNy4URYhcSgfATck/gHR/gAnekVIHPoLHKjLmAoEhy4SWJbfzDzPs/1kEECDT/kEfGjDVbgFd2AbHsFTAMw8dKMW6sEqjoY91JRmPSyHlA6o/Dee/2c/Tqb1GuJafQJnsducNrv4E6az2JmtBmYL/2IsHP/GdJtsMoM0e//aSWYDHL91FN+EAGCuKLGHq6glLS100XF52orNw5gtjxPcYA+icd8Jj7ajzgaG+Di+sYyR2WOftXP5evLtS8KBkd5rnvItuAAXST51XPQwCvUKCVrDq6K06uR7ucL243zB7PpK4zMvixZrDJX5gNW5BtaLfFP5ZtfLo/y82fF8qujSwz4OvELTTvhxd/uH2F17akOSgc/xCVs39/DNCcfesU+gAPK0xKIaYd2PQ1diHDrs1bw074XA21IH0hzgkgxSiROZ2CXQ0nw0BzIJ4Ay9Z58f8psQwiW4AtdIbWTN8ckcJ0uLoapINso7pO1knbSo6sYpMd8ai3ZLiBfugiuU1qk+8vErBcrYVJ0S79z3hWr7h/NzXCu+ZOuCemmal38iwHeo7o9RAHicY2BkYGAA4oW6u5bG89t8ZeBmYQCBG96bjRD0/wVsgsxxQC4HAxNIFAAoCwoPAHicY2BkYGBu+N/AEMMezgAEbIIMjAyogB0AUUUC3QAAeJxjYWBgYAFi9nAIjYwBCI0AdwAAAAAAAMQA7AEiATABVAGseJxjYGRgYGBnaGDgYAABJiDmAkIGhv9gPgMAFj8BpgB4nGWPTU7DMBCFX/oHpBKqqGCH5AViASj9EatuWFRq911036ZOmyqJI8et1ANwHo7ACTgC3IA78EgnmzaWx9+8eWNPANzgBx6O3y33kT1cMjtyDRe4F65TfxBukF+Em2jjVbhF/U3YxzOmwm10YXmD17hi9oR3YQ8dfAjXcI1P4Tr1L+EG+Vu4iTv8CrfQ8erCPuZeV7iNRy/2x1YvnF6p5UHFockikzm/gple75KFrdLqnGtbxCZTg6BfSVOdaVvdU+zXQ+ciFVmTqgmrOkmMyq3Z6tAFG+fyUa8XiR6EJuVYY/62xgKOcQWFJQ6MMUIYZIjK6Og7VWb0r7FDwl57Vj3N53RbFNT/c4UBAvTPXFO6stJ5Ok+BPV8bUnV0K27LnpQ0kV7NSRKyQl7WtlRC6gE2ZVeOEXpc0Yk/KGdI/wAJWm7IAAAAeJxjYGKAAC4G7ICdkYmRmZGFkZWRjZGdkYNBPCc1M7e0IDMPSKelgkggSspMZU/PL60oTcxjS0vMyyjN5KjITMxLBxLsEL4hd0FiZkWpbhZImIEBAMd7GdoAAAA=') format('woff'),
  url('//at.alicdn.com/t/font_985807_6kpb12zpv07.ttf?t=1545966130959') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_985807_6kpb12zpv07.svg?t=1545966130959#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:rem(36);
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leimupinleifenleileibie:before { content: "\e7f9"; }

.icon-gouxuan:before { content: "\e618"; }

.icon-fanhui:before { content: "\e612"; }

.icon-xiangxia:before { content: "\e614"; }

.icon-fanhui1:before { content: "\e623"; }

.icon-paixu-jiang:before { content: "\e736"; }


//toast
.toast {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: none;
}

.toast_value {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  text-align: center;
  padding: rem(50);
  width: 50%;
  border-radius: 10px;
  font-size: rem(30);
}

//提示框
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
  display: none;
}

.modal_box {
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: rem(66) rem(30) 0;
}

.modal_title {
  margin: 0 0 rem(42);
  font-size: rem(36);
}

.modal_content {
  font-size: rem(30);
  margin-bottom: rem(50);
  line-height: 1.5;
}

.modal_footer {
  display: flex;
  border-top: 1px solid #f2f2f2;
  line-height: 100px;
  font-size: rem(36);
}

.modal_cancel {
  flex: 1;
  border-right: 1px solid #f2f2f2;
}

.modal_submit {
  flex: 1;
  color: #2490eb;
}

//输入框提示样式
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bdbdbd;
}

// 导航栏
.wrap {
  padding-bottom: rem(16);
  background-color: #f3f3f3;
  padding-top: rem(88);
  position: relative;
}

.bar {
  margin-bottom: rem(20);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  height: rem(88);
  padding-right: rem(20);
  padding-left: rem(20);
  background-color: #fff; // border-bottom: 1px solid #e7e7e7;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fe7418;
  .center {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #333;
    z-index: -1;
  }
  .iconfont {
    font-size: rem(50);
  }
}

.num {
  color: #fe7418;
}

.didiao {
  color: #919191;
  font-size: rem(24);
}

// 覆盖weui样式
.weui-dialog .weui-dialog__btn {
  color: #fe7418;
}

.weui-tab {
  position: absolute;
  top: rem(90);
  bottom: 0;
  left: 0;
  right: 0;
  .weui-navbar {
    background-color: #fff;
    height: rem(82);
    line-height: rem(82);
    .weui-navbar__item {
      padding: 0;
      color: #666;
      &:after {
        display: none;
      }
    }
    .weui-bar__item--on {
      color: #fe7418;
      border-bottom: rem(2) solid #fe7418;
      background-color: initial;
    }
  }
  .weui-tab__bd {
    position: absolute;
    width: 100%;
    top: 0;
  }
}

.weui-loadmore {
  display: none;
}