.m-api div {
  float: left; }
  .m-api div img {
    width: 100%;
    display: block; }

.m-api_cell1 {
  width: 41.33%; }

.m-api_cell2 {
  width: 58.67%; }

.m-api_cell3,
.m-api_cell4 {
  width: 29.335%; }

.loc_box {
  margin-bottom: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 1.17333rem;
  text-align: center;
  position: relative; }
  .loc_box .slt {
    flex: 1;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .loc_box > .active {
    color: #fe7418; }
  .loc_box .f-cb-box {
    position: absolute;
    top: 100%;
    width: 100%; }
    .loc_box .f-cb-box > .active {
      display: block; }
  .loc_box .f-cb {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    display: none; }
    .loc_box .f-cb li {
      display: flex;
      align-items: center;
      padding: 0 0.42667rem;
      height: 1.17333rem;
      border-top: 0.01333rem solid #efefef;
      color: #333;
      justify-content: space-between; }
      .loc_box .f-cb li .iconfont {
        display: none;
        font-size: 0.37333rem; }
    .loc_box .f-cb .active .iconfont {
      display: block;
      color: #b7d893; }
  .loc_box .m-loc_fixed {
    display: none;
    position: fixed;
    top: 6.66667rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5); }

.m-list .num {
  color: #fe7418; }

.m-list > li {
  display: flex;
  align-items: center;
  height: 2.13333rem;
  border-bottom: 0.01333rem solid #f8f7f7;
  padding: 0.21333rem;
  background-color: #fff; }
  .m-list > li > img {
    width: 1.06667rem;
    margin-right: 0.21333rem; }
  .m-list > li .alist {
    flex: 1; }
    .m-list > li .alist .tit {
      font-size: 0.42667rem;
      color: #333;
      margin-bottom: 0.21333rem; }
  .m-list > li .task_r {
    padding-left: 0.21333rem; }
