.wrap {
  padding-bottom: 0.4rem;
  background-color: #f3f3f3;
  padding-top: 1.17333rem; }

.bar {
  margin-bottom: 0.26667rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  height: 1.17333rem;
  padding-right: 0.26667rem;
  padding-left: 0.26667rem;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.m-api div {
  float: left; }

.m-api_cell1 {
  width: 41.33%; }
  .m-api_cell1 img {
    width: 100%; }

.m-api_cell2 {
  width: 58.67%; }

.m-api_cell3, .m-api_cell4 {
  width: 29.335%; }
