.part2 {
  padding: 0.4rem 0 0.26667rem;
  border-bottom: 1px solid #EEEEEE; }

.p2_a {
  font-size: 0.53333rem;
  text-align: center;
  color: #2964bc;
  margin-bottom: 0.4rem; }

.p2_b {
  padding-left: 0.26667rem;
  font-size: 0.42667rem; }

.p2_b > span {
  color: #fe981b; }

.p2_b > strong {
  color: #000; }

.yearVip {
  display: none; }

.part3 {
  padding: 0.26667rem; }

.pe_tips {
  font-size: 0.42667rem; }

.pe_tips > span {
  color: #fd5e25; }

.p3_box {
  overflow: hidden;
  margin: 0.26667rem 0 0.53333rem; }

.p3_box > div {
  padding: 0.21333rem 0;
  float: left;
  width: 4.4rem;
  margin: 0 0.13333rem 0.26667rem 0.13333rem;
  border: 0.02667rem solid #eeeeee;
  border-radius: 0.13333rem;
  text-align: center;
  line-height: 1.5; }

.p3_box > .active {
  border: 0.02667rem solid #fe981b; }

.p3_box > .active > div {
  color: #fe981b !important; }

.p3_box > div > div {
  font-size: 0.37333rem;
  color: #999999; }

.p3_box > div > .p3_box_a {
  font-size: 0.48rem;
  color: #000; }
